.statistics-page {
    background-color: #0B0533;
}

.activities-container {
    background-color: #0B0533; /* Navy blue background */
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px; /* Add gap between cards */
}

.activity-card {
    position: relative;
    width: calc(33.33% - 20px); /* Adjust width and margin as needed */
    margin-bottom: 40px; /* Increase margin to create gap between cards */
    border-radius: 10px;
    overflow: hidden;
}

.activity-card img {
    width: 100%; /* Ensure the image takes up the entire card */
    height: auto;
    display: block;
    border-radius: 10px; /* Optional: if you want rounded corners */
}

.activity-label {
    position: absolute;
    top: -10px; /* Adjust label position */
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem; /* Adjust label font size */
    z-index: 2;
    color: #fff; /* Set label color */
    padding: 10px; /* Add padding for better visibility */
    width: 100%; /* Make label span entire width */
}

.activity-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 5, 51, 0.7); /* Navy blue background with opacity */
    z-index: 1;
}

/* Responsive design */
@media (max-width: 768px) {
    .activity-card {
        width: calc(50% - 20px); /* Adjust width and margin for smaller screens */
    }
}

.slick-prev,
.slick-next {
    width: 50px; /* Set the width of the arrow buttons */
    height: 50px; /* Set the height of the arrow buttons */
    background-size: cover; /* Ensure the entire arrow image is visible */
    background-repeat: no-repeat; /* Prevent repetition of the arrow image */
    background-position: center; /* Center the arrow image within the button */
    z-index: 2; /* Ensure the arrow buttons are above the carousel images */
    position: absolute; /* Position the arrows relative to their container */
    top: 50%; /* Align the arrows vertically in the middle */
    transform: translateY(-50%); /* Center the arrows vertically */
}

.slick-prev {
    background-image: url('./arrow_left.png'); /* Set the left arrow image */
    left: 0; /* Align the left arrow to the left */
}

.slick-next {
    background-image: url('./arrow_right.png'); /* Set the right arrow image */
    right: 0; /* Align the right arrow to the right */
}

/* Hide the default arrow icons */
.slick-prev:before,
.slick-next:before {
    display: none; /* Hide the default arrow icons */
}
