#addictions {
  /* Add any global styles for the 'addictions' ID here */
}

.Addictions {
  /* Add any global styles for the 'Addictions' class here */
}

.App-header {
  /* Add any styles for the header inside the 'Addictions' component here */
}

.addictions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.addictions-container h1 {
  color: #DD9313;
  font-family: 'Abhaya Libre ExtraBold';
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(168, 108, 6, 1);
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.addictions-container div {
  display: flex;
  margin-right: 20px; /* Add 10px margin between images */
}

/* Styling for the image divs */
.addictions-container div > div {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
}
.addictions-container div > div:nth-child(1) {
  position: relative;
  width: 200px;
  height: 400px;
  overflow: hidden;
}

/* Styling for the images */
.addictions-container div > div img {
  width: 300px;
  height: 450px;
  border-radius: 30px;
  object-fit: cover;
}

/* Styling for the first image (index 1) */
.addictions-container div > div:nth-child(1) img {
  position: relative;
  opacity: 0.5;
  border-radius: 30px;
  width: 200px;
  height: 350px;
  margin-top: 50px;
}

/* Styling for the second image (index 2) */
.addictions-container div > div:nth-child(2) img {
  position: relative;
  width: 300px;
  height: 450px;
}

/* Styling for the third image (index 3) */
.addictions-container div > div:nth-child(3) img {
  position: relative;
  width: 300px;
  height: 450px;
}

/* Adjust the styling for the last image's div */
.addictions-container div:last-child {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 350px;
  border-radius: 30px;
  margin-right: 0;
  margin-top: 50px;
}

/* Styling for the image inside the last div */
.addictions-container div:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  opacity: 0.5;
  border-radius: 30px;
}

/* Add a pseudo-element to create the left half of the image with reduced opacity */
.addictions-container div:last-child::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  border-radius: 30px;
}

/* Styling for the image divs */
.addictions-container .image-component {
  transition: transform 0.3s ease-in-out;
  margin: 0 10px; /* Add margin between images */
}

/* Hover effect */
.addictions-container .image-component:hover {
  transform: scale(1.1);
}

/* Styling for the images */
.image-component img {
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.image-component img:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
}



.arrow-button {
  margin-top: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: #DD9313;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.arrow-button-left {
  left: -40px;
}

.arrow-button-right {
  right: -40px;
}
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background-color: #0B0533;
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.popup-image {
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  padding: 8px 16px;
  background-color: #2B1451;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #1e0940;
}

.popup-active {
  overflow: hidden; /* Prevent scrolling */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #080328; /* Semi-transparent black */
  z-index: 998; /* Ensure the overlay is behind the popup */
}

.rectanglepop1 {
  position: absolute;
  top: 100px;
  left: 1px;
  width: 180px;
  height: 280px;
  background-color: #2B1451;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rectanglepop2 {
  position: absolute;
  top: 30px;
  left: 200px;
  width: 360px;
  height: 400px;
  background-color: #2B1451;
}

.rectanglepop3 {
  position: absolute;
  top: 35px;
  left: 205px;
  width: 360px;
  height: 400px;
  background-color: #1e0940;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rectanglepop5 {
  position: absolute;
  bottom: 80px;
  right: 1px;
  width: 180px;
  height: 280px;
  background-color: #2B1451;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image1 {
  position: absolute;
  top: 114px; /* Adjust the top position to place it inside the popup */
  left: 15px; /* Adjust the left position to place it inside the popup */
  width: 150px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-color: #ffffff; /* Set a background color */
  z-index: 999; /* Ensure it's above other elements in the popup */
}

.image2 {
  position: absolute;
  top: 247px; /* Adjust the top position to place it inside the popup */
  left: 15px; /* Adjust the left position to place it inside the popup */
  width: 150px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-color: #ffffff; /* Set a background color */
  z-index: 999; /* Ensure it's above other elements in the popup */
}


.image4 {
  position: absolute;
  top: 115px; /* Adjust the top position to place it inside the popup */
  right: 15px; /* Adjust the left position to place it inside the popup */
  width: 150px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-color: #ffffff; /* Set a background color */
  z-index: 999; /* Ensure it's above other elements in the popup */
}


.image3 {
  position: absolute;
  top: 247px; /* Adjust the top position to place it inside the popup */
  right: 16px; /* Adjust the left position to place it inside the popup */
  width: 150px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-color: #ffffff; /* Set a background color */
  z-index: 999; /* Ensure it's above other elements in the popup */
}

.image5 {
  position: absolute;
  top:98px; /* Adjust the top position to place it inside the popup */
  left: px; /* Adjust the left position to place it inside the popup */
  width: 330px; /* Adjust the width as needed */
  height: 280px; /* Adjust the height as needed */
  background-color: #ffffff; /* Set a background color */
  z-index: 999; /* Ensure it's above other elements in the popup */
}
