.box-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    background-color: orange;
    padding-top: 140px;
}

.box-content {
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    margin: auto;
    padding: 30px;
    background-color: #0B0533;
    text-align: center;
    color: black;
    display: flex;
}

.right-boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: aqua;
    position: relative;
    border-radius: 5px;
}

/* .underlay-right-boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 70%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.box {
    width: 100%;
    height: 110px; 
    margin: 5px 0; 
    background-color: red;
    border-radius: 5px;
} */

/* CSS */
.underlay-right-boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the content horizontally in the container */
    justify-content: center; /* This centers the content vertically in the container */
    width: 60%; /* Adjust the width based on your layout needs */
    height: 90%; /* Adjust the height based on your layout needs */
    background-color: black;
    overflow: hidden;
    position: relative;
    padding: 10px 0; /* This adds some padding at the top and bottom */
}


.box {
    width: 50%; /* Relative width to fit within the parent container */
    height: 50px; /* Each box takes roughly a quarter of the container height, adjust based on total padding/margin */
    margin: 1% 0; /* Small margin between boxes */
    background-color: red;
    border-radius: 5px;
}



.left-box {
    width: 30%;
    height: 100%;
    background-color: lightgreen;
    margin-right: 20px;
    border-radius: 5px;
}

.middle-box {
    width: 50%;
    height: 100%;
    background-color: lightpink;
    margin-right: 20px;
    border-radius: 5px;
}

.slick-prev, .slick-next {
    z-index: 1000;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    color: black;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
}

.right-boxes-container .slick-prev {
    top: 10px;
    left: 50%;
}

.right-boxes-container .slick-next {
    bottom: 10px;
    left: 50%;
}
