/* Engineering.css */
.Engineering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0B0533;
  }
  
  .small-squares {
    display: flex;
    margin-bottom: 20px;
  }
  
  .above-title {
    margin-top: 100px; /* Adjust the margin-top to move the squares up */
  }
  
  .below-title {
    margin-top: 20px; /* Adjust the margin-top for spacing below the title */
  }
  
  .small-square {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #2B1451;
    margin: 0 10px; /* Adjust the margin as needed */
    border-radius: 8px;
  }
  
  .inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; /* Adjust the inner box size as needed */
    height: 150px;
    background-color: #ffffff; /* Adjust the color as needed */
    border-radius: 8px;
  }
  
  .content-container {
    background-color: #f0f0f0;
    padding: 60px;
    border-radius: 0px;
    text-align: center;
    position: relative;
    width: 860px;
  }
  
  h1 {
    color: #333;
    font-size: 3em;
  }
  