/* Base styles */
* {
    box-sizing: border-box;
  }
  
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
  }
  
  /* Gallery styles */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -8px; // Compensate for the padding on the gallery items
  }
  
  .gallery-item {
    position: relative;
    flex-grow: 1;
    flex-basis: calc(33.333% - 16px); // Adjust for 3 columns at base level
    padding: 8px; // Creates gap between items
    overflow: hidden;
    cursor: pointer;
  
    &:hover figcaption {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    
    img {
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }
    
    &:hover img {
      transform: scale(1.1);
    }
  
    @media (min-width: 480px) {
      flex-basis: calc(25% - 16px); // Adjust for 4 columns on larger screens
    }
  
    @media (min-width: 768px) {
      flex-basis: calc(20% - 16px); // Adjust for 5 columns on larger screens
    }
    
    @media (min-width: 1024px) {
      flex-basis: calc(16.666% - 16px); // Adjust for 6 columns on largest screens
    }
  }
  
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  /* Modal styles */
  .modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .modal-content {
    max-width: 90%;
    max-height: 80vh;
    display: block;
  }
  
  img.modal-content {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .caption {
    color: #ccc;
    text-align: center;
    padding-top: 1rem;
  }
  
  /* Footer styles */
  #footer {
    margin-top: 10vh;
    padding: 10vh 0;
    text-align: center;
    .container {
      position: relative;
    }
    a.logo, a.copy {
      text-decoration: none;
      color: inherit;
      display: block;
    }
    a.logo {
      font-weight: 600;
      font-size: 1.5em;
    }
    a.copy {
      text-transform: uppercase;
      font-size: .75em;
      font-weight: 600;
    }
  }
  