* {
    box-sizing:border-box;

  }
body {
  font-family:'Plus Jakarta Sans', sans-serif;

    
  }
  .main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15em;
  }
  .gear-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    top: 1.0em;
    margin-right: 19.75em;
    margin-left: 35.5em;
    
  }
  .center-circle {
    position: relative;
    width: 10em;
    height: 10em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    margin: auto;
    animation: spin-r 15s linear infinite;
  }
  .center-circle > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: -0.625em;
    background: #F5A720;
  }
  .center-circle > *:nth-of-type(1) {
    transform: rotate(5.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(2) {
    transform: rotate(41.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(3) {
    transform: rotate(77.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(4) {
    transform: rotate(113.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(5) {
    transform: rotate(149.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(6) {
    transform: rotate(185.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(7) {
    transform: rotate(221.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(8) {
    transform: rotate(257.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(9) {
    transform: rotate(293.5deg) translate(5em);
  }
  .center-circle > *:nth-of-type(10) {
    transform: rotate(329.5deg) translate(5em);
  }
  .ring {
    display: block;
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: solid 1.5em #F5A720;
  }
  .gear-container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
    top: 9.0em;
    right: 22.35em;
  }
  .center-circle2 {
    position: relative;
    width: 20em;
    height: 20em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    margin: auto;
    animation: spin 15s linear infinite;
  }
  .center-circle2 > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    margin: -1.5em;
    background: #F5A720;
  }
  .center-circle2 > *:nth-of-type(1) {
    transform: rotate(5deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(2) {
    transform: rotate(35deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(3) {
    transform: rotate(65deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(4) {
    transform: rotate(95deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(5) {
    transform: rotate(125deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(6) {
    transform: rotate(155deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(7) {
    transform: rotate(185deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(8) {
    transform: rotate(215deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(9) {
    transform: rotate(245deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(10) {
    transform: rotate(275deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(11) {
    transform: rotate(305deg) translate(7em);
  }
  .center-circle2 > *:nth-of-type(12) {
    transform: rotate(335deg) translate(7em);
  }
  .tooth {
    display: block;
    border-radius: 7px;
  }
  .ring2 {
    display: block;
    position: absolute;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: solid 2em #F5A720;
  }
  .gear-container3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    top: 9.0em;
    right: 23em;
  }
  .center-circle3 {
    position: relative;
    width: 10em;
    height: 10em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    margin: auto;
    animation: spin-r 15s linear infinite;
  }
  .center-circle3 > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: -0.625em;
    background: #F5A720;
  }
  .center-circle3 > *:nth-of-type(1) {
    transform: rotate(5.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(2) {
    transform: rotate(41.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(3) {
    transform: rotate(77.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(4) {
    transform: rotate(113.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(5) {
    transform: rotate(149.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(6) {
    transform: rotate(185.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(7) {
    transform: rotate(221.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(8) {
    transform: rotate(257.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(9) {
    transform: rotate(293.5deg) translate(5em);
  }
  .center-circle3 > *:nth-of-type(10) {
    transform: rotate(329.5deg) translate(5em);
  }
  .ring3 {
    display: block;
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: solid 1.5em #F5A720;
  }
  .ring .acc-prompt2 {
    color: white !important;
    text-decoration: none;
    font-family: 'Abhaya Libre Medium';
    font-size: 1.2em; /* Adjust the font size as needed */
    z-index: 8;
    position: absolute;
    top: 23%; /* Adjust the top position as needed */
    left: 10%; /* Adjust the left position as needed */
    font-family:'Plus Jakarta Sans', sans-serif;

  }
  .acc-prompt2 h2 {
    font-size: 1.5em !important; /* Adjust the font size as needed */
    font-weight: bolder;
  }

  .ring .qol-prompt1 {
    color: white;
    text-decoration: none;
    font-size: 1.2em; /* Adjust the font size as needed */
    z-index: 8;
    position: absolute;
    top: 5%; /* Adjust the top position as needed */
    left: 14%; /* Adjust the left position as needed */
    margin-left:1em;
    font-family:'Plus Jakarta Sans', sans-serif;

  }
  .qol-prompt1 h2 {
    font-size: 0.5em ; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;

  }

  .ring .qol-prompt2 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    position: absolute;
    font-size: 0.6em; /* Adjust the font size as needed */
    z-index: 8;
    top: 16% !important; /* Adjust the top position as needed */
    left: 6%; /* Adjust the left position as needed */
  }
  .qol-prompt2 h2 {
    font-size: 1em !important; /* Adjust the font size as needed */
    margin-left:1.5em;
  }
  .ring .pro2 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 50%; /* Adjust the top position as needed */
    left: 9% !important; /* Adjust the left position as needed */
    
  }

  .pro2 h2 {
    font-size: 1.08em !important; /* Adjust the font size as needed */
    /*margin-top: 1.25em; /* Adjust the top position as needed */
    /*margin-left:0.5em;*/
    font-weight: bolder;
  }
  .ring .hood2 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 67%; /* Adjust the top position as needed */
    left: 16%; /* Adjust the left position as needed */
  }

  .ring .hoods2 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 80%; /* Adjust the top position as needed */
    left: 30%; /* Adjust the left position as needed */
  }
  .ring4 .hood1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 9%; /* Adjust the top position as needed */
    left: 24%; /* Adjust the left position as needed */
  }
  .hood1 h2 {
    font-size: 1.2em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }
  .hoods1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 22%; /* Adjust the top position as needed */
    left: 10.5%; /* Adjust the left position as needed */
  }
  .hoods1 h2 {
    font-size: 1.2em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }
    .hoods2 h2 {
    font-size: .8em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }
  .ring4 .eng2 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 38%; /* Adjust the top position as needed */
    left: 2.9%; /* Adjust the left position as needed */
    
  }

  .eng2 h2 {
    font-size: 0.84em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
  }

  .ring4 .qol-prompt6 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.6em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 50%; /* Adjust the top position as needed */
    left: 5%; /* Adjust the left position as needed */
  }

  .qol-prompt6 h2 {
    font-size: 1.34em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }

  .ring4 .pro1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.9em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 59.5%; /* Adjust the top position as needed */
    left: 18%; /* Adjust the left position as needed */
  }

  .pro1 h2 {
    font-size: 2.3em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
  }
  .ring2 .eng3 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.7em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 64.2%; /* Adjust the top position as needed */
    left: 78.9%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  }

  .eng3 h2 {
    font-size: 1em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }
  .ring2 .emotions1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 14%; /* Adjust the top position as needed */
    left: 25%; /* Adjust the left position as needed */
  }

  .emotions1 h2 {
    font-size: .9em !important; /* Adjust the font size as needed */
  }

  .ring2 .eng1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.86em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 49%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  }

  .eng1 h2 {
    font-size: 2.12em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight:bolder;
  }

  .ring2 .addiction-prompt {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.44em !important; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 32.5%; /* Adjust the top position as needed */
    left: 7%; /* Adjust the left position as needed */
  }

  .addiction-prompt h2 {
    font-size: 1.25em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }

  .ring2 .eng {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.9em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 21%; /* Adjust the top position as needed */
    left: 12%; /* Adjust the left position as needed */
  }

  .eng h2 {
    font-size: 1em !important; /* Adjust the font size as needed */
    font-weight:bolder;
  }
  .ring2 .eng4 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.63em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 87%; /* Adjust the top position as needed */
    left: 34%; /* Adjust the left position as needed */
  }
  
  .eng4 h2 {
    font-size: 1.3em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }

  .ring2 .pro3 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 63%; /* Adjust the top position as needed */
    left: 32%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  }

  .new1 h2 {
    font-size: 4em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    
  }

  .ring2 .new1{
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.30em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 84%; /* Adjust the top position as needed */
    left: 51%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  }

  .new2 h2 {
    font-size: 3em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    
  }

  .ring2 .new2{
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.30em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 12%; /* Adjust the top position as needed */
    left: 51%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  }
  
  .pro3 h2 {
    font-size: 1.3em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }

  .ring3 .qol-prompt3 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 9%; /* Adjust the top position as needed */
    left: 29%; /* Adjust the left position as needed */
  }
  
  .qol-prompt3 h2 {
    font-size: 0.6em !important; /* Adjust the font size as needed */
  }

  .qol-prompt4 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 19%; /* Adjust the top position as needed */
    left: 15%; /* Adjust the left position as needed */
  }
  
  .qol-prompt4 h2 {
    font-size: .6em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }
  .acc-prompt1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.7em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    left: 9%; /* Adjust the left position as needed */
  }
  
  .acc-prompt1 h2 {
    font-size: 1em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
  }

  .ring3 .qol-prompt5 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.8em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 44%; /* Adjust the top position as needed */
    left:4%; /* Adjust the left position as needed */
  }
  
  .qol-prompt5 h2 {
    font-size: 1.2em !important; /* Adjust the font size as needed */
    font-weight: bolder;
  }

  .ring3 .cri1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.65em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 78%; /* Adjust the top position as needed */
    left: 27%; /* Adjust the left position as needed */
  }
  
  .crinew1 h2 {
    font-size: 1em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }

  .ring3 .crinew1 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.9em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 61.5%; /* Adjust the top position as needed */
    left: 12%; /* Adjust the left position as needed */
  }
  
  .cri1 h2 {
    font-size: 1.3em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
  }

  .ring2 .addiction-prompt2 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.75em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 67%; /* Adjust the top position as needed */
    left: 8%; /* Adjust the left position as needed */
  }
  
  .addiction-prompt2 h2 {
    font-size: 0.9em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
  }
  .ring2 .addiction-promptss3 {
    color: white;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 0.7em; /* Adjust the font size as needed */
    z-index: 10;
    position: absolute;
    top: 92%; /* Adjust the top position as needed */
    left: 40%; /* Adjust the left position as needed */
  }
  
  .addiction-promptss3 h2 {
    font-size: .9em !important; /* Adjust the font size as needed */
    font-family:'Plus Jakarta Sans', sans-serif;
  }
  
  @media only screen and (max-width: 768px) {
    .ring .acc-prompt2 {
      font-size: 0.5em; /* Adjust the font size for smaller screens */
      top: 30.3%; /* Adjust the top position as needed */
      left: 10.5%; /* Center the text horizontally */
      transform: translateX(-50%); /* Center the text horizontally */
      margin-left:5em;
    }
    .acc-prompt2 h2 {
        font-size: 2em !important; /* Adjust the font size as needed */
        margin-top:0.25em;
      }
  }
  .gear-container4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    top: 19.0em;
    right: 58em;
  }
  .center-circle4 {
    position: relative;
    width: 10em;
    height: 10em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    margin: auto;
    animation: spin 15s linear infinite;
  }
  .center-circle4 > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: -0.625em;
    background: #F5A720;
  }
  .center-circle4 > *:nth-of-type(1) {
    transform: rotate(5.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(2) {
    transform: rotate(41.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(3) {
    transform: rotate(77.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(4) {
    transform: rotate(113.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(5) {
    transform: rotate(149.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(6) {
    transform: rotate(185.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(7) {
    transform: rotate(221.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(8) {
    transform: rotate(257.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(9) {
    transform: rotate(293.5deg) translate(5em);
  }
  .center-circle4 > *:nth-of-type(10) {
    transform: rotate(329.5deg) translate(5em);
  }
  .ring4 {
    display: block;
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: solid 1.5em #F5A720;
  }

  
  
  @keyframes spin {
    100% {
        transform: rotate(360deg);
   }
  }
  @keyframes spin-r {
    100% {
        transform: rotate(-360deg);
   }
  }
  
  @media (max-width: 767px) {
  
    .main-body{
      margin-left: 300px;
    }
    
    
  }
  /* For screens smaller than 768px (tablets and below) */
  
  
    @media (max-width: 767px) {
  
      .main-body {
        margin-left: 150px;
      }
  
      .gear-container4 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10em;
        height: 10em;
        top: 19.0em;
        right: 59.7em;
      }
  
      .gear-container2 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20em;
        height: 20em;
        top: 10em;
        right: 33.7em;
      }
  
      .gear-container3 {
        display: none;
        /* Hide the container */
      }
  
      .gear-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10em;
        height: 10em;
        top: 1.0em;
        margin-right: 29.75em;
  
      }
    }