.gear-container-loader {
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;

  z-index: 20000;
}

.gear-loader {
  color: orange; 
  animation: rotate-clockwise 3s infinite; 

}

@keyframes rotate-clockwise {
  100% { transform: rotate(360deg); }
}
