/* Home.css */

/* Global body styles */
body {
  margin: 0;
  padding-top: 60px; /* Adjust based on the height of your navbar */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Header styles */
.App-header {
  background-color: #140C46;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; /* Additional padding to avoid overlapping with the navbar */
}

/* App container styles */
.App {
  text-align: center;
}

/* Base gear styles */
.App-logo {
  position: absolute;
  pointer-events: none;
  z-index: 1; /* Ensure the gears are above other content */
}

/* Individual gear adjustments */
.App-logo.middle-gear {
  width: 100px;
  height: 100px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-logo.left-gear {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.App-logo.right-gear {
  width: 80px;
  height: 80px;
  bottom: 20%;
  right: 20%;
  transform: translate(50%, -50%);
}

/* Gear rotation animation */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating-gear {
  animation: rotate 5s linear infinite;
}

.stopped-rotation {
  animation: none;
}

/* Style for links */
.App-link {
  color: #61dafb;
}

/* Preference for reduced motion users */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
