/* NavigationBar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0930;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
  }
  
  .brand {
    font-size: 1.25em;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .brand:hover {
    color: #F5A720;
  }
  
  .nav-links-container {
    display: flex;
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center; /* Center align the links */
    padding: 15px 0; /* Add padding top and bottom */
  }
  
  .nav-links {
    display: flex;
    flex-direction: row; /* Change to column layout on smaller screens */
    gap: 15px; /* Add gap between links */
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease-out;
  }
  
  .nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #F5A720;
    transition: width 0.2s ease, left 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #F5A720;
    transform: translateY(-5px);
  }
  
  .nav-links a:hover::before {
    width: 100%;
    left: 0;
  }
  
  /* Adjust styles for smaller screens */
  @media screen and (max-width: 768px) {
    
    .nav-links-container {
      flex-direction: column; /* Display links in a column */
      align-items: center; /* Center align items */
      overflow-x: hidden; /* Hide horizontal overflow */
      width: 100%; /* Ensure full width */
      margin-bottom: -5em;
    }
  
    .nav-links {
      margin-top: -2px; /* Add some space between title and links */
      width: 100%; /* Ensure full width */
      
    }
    .nav-links {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
    
  }
  
  /* Adjust styles for larger screens */
  @media screen and (min-width: 769px) {
    .nav-links-container {
      justify-content: flex-end; /* Align links to the right */
    }
  }