.professions-landing-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #0B0533;
  padding-top: 5vh;
  padding-bottom: 5vh; 
  box-sizing: border-box;
  
}

.professions-landing-page-title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.professions-landing-page-header {
  font-family: "Crimson Text", serif;
  color: #DD9313;
  font-weight: bolder;
  font-size: 7vw; 
  max-width: 100%; 
  overflow-wrap: break-word;
}

.professions-category {
  max-width: 1170px;
  width: 100%;
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
  gap: 20px;
  row-gap: 20px;
  margin: 0 auto; 
}

.professions-category-item {
    position: relative;
    min-width: 370px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
  justify-content: center;
  align-items: center;
}

.professions-category-item:hover {
    border: 1px solid #fff0;
    box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.507);
    border-radius: 3px;
}

.professions-category-item-title {
    font-style: normal;
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 28px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.professions-category-item:hover>.professions-category-item-title {
  color: #0B0533;
}

.professions-category-item-img {
    position: absolute;
    right: 37px;
    top: 22px
}

/*POPUP CODE*/
.professions-popup-title {
  color: white;
  font-weight:bolder;
  font-size: 2.5vw;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.professions-popup-statistical-analysis {
  margin-bottom: 0rem;
  line-height: normal;
  font-size: 0.9rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  color: #0B0533;
}

.professions-popup-overlay {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: #0B0533;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.professions-popup-content {
  background-color: #0B0533;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.651);
  width:90vw;
  max-height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;

}

.professions-popup-header, .professions-popup-body, .professions-popup-footer {
  width: 100%;
}

.professions-popup-header {
  margin-bottom: 5px;
}

.professions-popup-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0B0533;
  border-radius: 10px;
}

.professions-popup-slides-container {
  align-items: center;
  display: flex; 
  justify-content: space-between; 
  width: 100%;
  height: calc(100% - 10px); 
}

.professions-popup-slide {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


.professions-popup-slide:first-child, .professions-popup-slide:last-child {
  margin-left: 0;
  margin-right: 0;
}

.professions-popup-slide-caption {
  color: white; 
  text-align: center; 
  width: 100%;
  padding-top: 10px;
}

.professions-popup-footer {
  margin-top: 10px;
  border-radius: 10px;
}

.professions-popup-button-text {
  font-size: 0.8rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
  color: white;
  border-radius: 5px;
}

.professions-popup-footer button {
  margin: 10px 0;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.professions-popup-footer button:hover {
  background: rgba(0, 0, 0, 0.85); 
  border: 1px solid;
}

@media (max-width: 1100px) {

  .professions-popup-slides-container {
    flex-direction: column;
  }

  .professions-popup-slide {
    width: 100%;
    margin-bottom: 10px;
  }

  .professions-popup-slide:last-child {
    margin-bottom: 0;
  }
}

.statistics-link-professions {
  text-decoration: none;
  color: #a3a0a9; 
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display:grid; 
  margin-top: 0px; 
  font-size: 0.8rem;
  transition: background-color 0.3s; 
}

.statistics-link-professions:hover {
  color: #aaa6b1; 
}
