html, body, main {
    height: 100%;
}

/* ProfessionsLanding.css */
.landing-page {
    background-image: url('./images/Cleaned\ Pentagon.png'); /* Replace with the path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 100vh; /* Make the container take up the full height of the viewport */
    position: relative; /* Establish a positioning context for absolute positioning of icons */
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    text-align: center; /* Ensure the text is centered below the icon */
    transition: transform 0.3s ease; /* Smooth transformation for the whole container */
}

.icon img {
    width: 100px; /* Adjust based on your needs */
    height: auto;
    transition: transform 0.3s ease; /* Smooth transformation for hover effect */
}

.icon:hover img {
    transform: scale(1.1); /* Increase size by 10% */
}

.icon span {
    display: block; /* Ensures the text appears on a new line */
    margin-top: 10px; /* Space between the icon and the text */
    color: #0B0533; /* Adjust text color as needed */
    font-family: 'Abhaya Libre ExtraBold';
    font-size: 30px; /* Adjust the font size of the title */
    font-weight: bold;
}

.business {
    top: 4%; /* Adjust based on actual positioning */
    left: 37%; /* Adjust based on actual positioning */
}

.healthcare {
    top: 10%; /* Adjust based on actual positioning */
    right: 15%; /* Adjust based on actual positioning */
}

.maintenance {
    bottom: 15%; /* Adjust based on actual positioning */
    right: 15%; /* Adjust based on actual positioning */
}

.education {
    bottom: 4%; /* Adjust based on actual positioning */
    left: 39%; /* Adjust based on actual positioning */
}

.labour {
    bottom: 40%; /* Adjust based on actual positioning */
    left: 15%; /* Adjust based on actual positioning */
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 20px;
}



.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    position: relative;
    overflow: auto;
    width: 90vw;
    height: 40vw;
}

.pop-up {
    width: 80vw;
    /* Adjust this value to match the width of .popup-content */
    height: 60vw;
    /* Adjust this value to match the height of .popup-content */
}

.close-btn {
    position: absolute;
    /* Change position to absolute */
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
