@charset "utf8";
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');

:root {
    --ImgSizeX: 50vw;
    --ImgSizeY: calc(var(--ImgSizeX) / 4 * 3);
    --minFontSize: 10px;
    --maxFontSize: 32px;
    --scaler: 5vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    background-color: orange;
}

#carousel {
    overflow: hidden; /* Add this line */
    display: flex;
    justify-content: center;
    position: relative;
    height: var(--ImgSizeY);
}


#carousel a {
    position: absolute;
    aspect-ratio: 4 / 3;
    cursor: pointer;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel a img {
    width: var(--ImgSizeX);
    height: 100%;
    transition: width 1s;
    /* border-radius: 5px; */
}

#carousel a.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(0%);
}

#carousel a.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-100%);
}

#carousel a.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(17.5%) translateX(-50%);
}

#carousel a.next {
    z-index: 5;
    left: 70%;
    transform: translateY(17.5%) translateX(-50%);
}

#carousel a.prev img,
#carousel a.next img {
    width: calc(var(--ImgSizeX) / 4 * 3);
}

#carousel a.prevSecond,
#carousel a.nextSecond {
    z-index: 4;
    opacity: 0.7;
}

#carousel a.prevSecond {
    left: 15%;
    transform: translateY(50%) translateX(-50%);
}

#carousel a.nextSecond {
    left: 85%;
    transform: translateY(50%) translateX(-50%);
}

#carousel a.prevSecond img,
#carousel a.nextSecond img {
    width: calc(var(--ImgSizeX) / 2);
}

#carousel a.selected {
    z-index: 6;
    left: 50%;
    transform: translateY(0) translateX(-50%);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 3em;
    margin: auto;
    margin-top: 0.5em;
}

.buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 2.5em;
    height: 3em;
    font-size: 1.5em; /* Adjust the font size */
    color: #0B0533; /* Adjust the color */
}

.arrow {
    cursor: pointer;
    width: 2.5em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    color: white; /* Adjust the color on hover */
}

.yellowBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px; /* Adjust the width as needed */
    height: 100%;
    background-color: yellow;
}

.slideImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

