/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 600px) {
    /* Adjust font size for smaller screens */
    h1 {
      font-size: 24px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust font size for medium-sized screens */
    h1 {
      font-size: 36px;
    }
  }
  
  @media screen and (min-width: 1025px) {
    /* Adjust font size for larger screens */
    h1 {
      font-size: 48px;
    }
  }
  /* NavigationBar.css */

/* Base gear styles */
.App-logo {
  position: absolute;
  pointer-events: none;
  z-index: 1; /* Ensure the gears are above other content */
}

/* Individual gear adjustments */
.App-logo.middle-gear {
  width: 100px;
  height: 100px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-logo.right-gear {
  width: 80px;
  height: 80px;
  bottom: 40%;
  right: 20%;
  transform: translate(50%, -50%);
}

.App-logo.top-gear {
  width: 80px;
  height: 80px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.App-logo.bottom-gear {
  width: 80px;
  height: 80px;
  bottom: 20%;
  left: 20%;
  transform: translate(-50%, 50%);
}

/* Gear rotation animation */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Preference for reduced motion users */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.rotating-gear {
  animation: rotate 5s linear infinite;
}

.stopped-rotation {
  animation: none;
}

.gear-styling {
  width: 33vw;
  height: 33vw;
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translateX(-50%);
}



.gear-styling2 {
width: 26vw;
height: 26vw;
position: absolute;
top: 28%;
left: 14%;
transform: translateY(-50%);
}

.gear-styling3 {
width: 22vw;
height: 22vw;
position: absolute;
top: 9%;
left: 22.5%;
transform: translateY(-50%);
}

.gear-styling4 {
width: 22vw;
height: 22vw;
position: absolute;
top: -4%;
left: 28%;
transform: translateY(-50%);
}
/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .gear-styling {
    width: 80px;
    height: 80px;
    top: 20%;
  }
  
  .gear-styling1 {
    width: 60px;
    height: 60px;
    bottom: 15%;
    right: 15%;
  }
  
  .gear-styling2 {
    width: 60px;
    height: 60px;
    top: 15%;
    left: 15%;
  }
  
  .gear-styling3 {
    width: 60px;
    height: 60px;
    bottom: 15%;
    left: 15%;
  }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 480px) {
  .gear-styling {
    width: 60px;
    height: 60px;
    top: 15%;
  }
  
  .gear-styling1,
  .gear-styling2,
  .gear-styling3 {
    display: none; /* Hide the other gears on smaller screens */
  }
}






  