.statistics-page {
    background-color: #0B0533;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to full viewport height */
}

.carousel-root {
    max-width: 90%; /* Adjust the maximum width of the container */
    margin: 0 auto;
}

.carousel.carousel-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel.carousel-slider .slider-wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.carousel.carousel-slider .slider-wrapper.axis-horizontal .slider {
    display: flex;
    flex-direction: row; /* Ensure slides are displayed side by side */
}

.carousel.carousel-slider .slider-wrapper.axis-horizontal .slider .slide {
    flex: 0 0 100%; /* Ensure each slide takes full width */
}

.carousel .control-arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.carousel .control-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel .control-disabled.control-arrow {
    opacity: 0.5;
    cursor: not-allowed;
}

.carousel .control-prev.control-arrow {
    left: 0.75vw;
    top: 50%;
}

.carousel .control-next.control-arrow {
    right: 0.75vw;
    top: 50%;
}

.carousel .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.box {
    position: relative;
    width: 22vw;
    height: 40vh;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    border-radius: 5px;
    border: none;
}

/* .image-container {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 85%; 
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black; 
} */

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This centers the container in the box */
    width: 85%; /* Adjust the width as needed */
    height: 85%; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow */
    background-color: black; /* Black background for the container */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.box .box-image {
    width: 100%; /* Fill the width of the .image-container */
    height: 100%; /* Fill the height of the .image-container */
    object-fit: fill; /* Stretch the image to fill the container, disregarding its aspect ratio */
    /*object-fit: contain;*/ /* Will cover the entire container */
    /*object-position: center center;*/ /* Centers the image in the container */
}

.box-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Box color classes unchanged */
.box.yellow { background-color: #F5A720; }
.box.orange { background-color: #D9822A; }
.box.peach { background-color: #BE5C43; }
.box.pink { background-color: #b14a73; }
.box.magenta { background-color: #A33862; }
.box.purple { background-color: #6A2774; }
